.about {
    max-width: $grid-container-sm;
}

.about__wrap {
    @include grid-row();

    @include media-query('sm') {
        padding-top: 50px;
    }
}

.about__image,
.about__text {
    @include grid-column((xxsmall: 12, md: 6));
}

.about__image {
    margin-bottom: 30px;
}

.about__image-src {
    height: auto;
    max-width: 400px;
    width: 100%;
}

.about__text-header {
    font-size: 2rem;
}

.about__text-header--sm {
    font-size: 1.6rem;
}

.about__email {

    &:hover {
        text-decoration: underline;
    }
}

.about__socials {
    display: flex;
}

.about__socials-icon {
    height: 30px;
    width: 30px;
}