.about {
    max-width: $grid-container-sm;
}

.about__wrap {
    @include grid-row();

    @include media-query('sm') {
        padding-top: 50px;
    }
}

.about__text-container {
    margin-bottom: 50px;
}

.about__image,
.about__text {
    @include grid-column((xxsmall: 12, md: 6));
}

.about__image {
    margin-bottom: 30px;
}

.about__image-src {
    height: auto;
    max-width: 400px;
    width: 100%;
}

.about__text-header {
    font-size: 2rem;
    font-weight: $light;
    margin-bottom: 30px;
}

.about__text-header--sm {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.about__email {
    display: block;
    margin-bottom: 20px;

    &:hover {
        text-decoration: underline;
    }
}

.about__socials {
    display: flex;
}

.about__socials-items {
    margin-right: 15px;
}

.about__socials-anchor {

    @include media-query('sm') {
        
        &:hover {
            .about__socials-icon {
                fill: $black;
            }
        }
    }
}

.about__socials-icon {
    fill: $grey-light;
    height: 20px;
    transition: fill $transition;
    width: 20px;
}