.burger {
    display: flex;
    flex-direction: column;
    height: 20px;
    position: relative;
    width: 30px;

    @include media-query('sm') {
        display: none;
    }
}

.burger__inner {
    background-color: $black;
    display: block;
    height: 2px;
    position: absolute;
    top: 0;
    transition: transform .1s;
    width: 30px;
}

.burger__inner--two {
    top: 9px;
    transition: opacity .1s, transform .1s;
}

.burger__inner--three {
    top: 18px;
}

.burger--active {

    .burger__inner--one {
        transform: translateY(9px) rotate(45deg);
    }
    
    .burger__inner--two {
        opacity: 0;
        transform: translateX(-100%);
    }
    
    .burger__inner--three {
        transform: translateY(-9px) rotate(-45deg);
    }
}
