.header {
    @include grid-row();
}

.header__container {
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.header__col {
    padding: 0 20px;
    position: relative;

    @include media-query('sm') {
        padding: 0 50px;
    }
}

.header__col--1 {
    
    @include media-query('sm') {
        padding: 0 60px;
    }
}

.header__logo {
    font-size: 1.4rem;
    font-weight: $light;
    line-height: 1;

    @include media-query('sm') {
        font-size: 1.6rem;
    }
}