.main-nav__menu-container {
    background-color: $white;
    height: 100vh;
    position: absolute;
    transform: translateX(100%);
    transition: transform $transition;
    width: 100%;

    @include media-query('sm') {
        position: relative;
        transform: translateX(0);
    }
}

.main-nav__menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    
    @include media-query('sm') {
        flex-direction: row;
    }
    
    > li {
        padding: 0 10px;
    }
    
    a {
        color: $grey;
        position: relative;

        &::after {
            background-color: $grey-light;
            bottom: -2px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transition: transform $transition;
            width: 100%;
        }

        &:hover {

            &::after {
                transform: scaleX(1);
            }
        }
    }

    .sub-menu {
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }

    .menu-item-has-children {
        position: relative;

        @media (hover: hover) {

            &:hover {

                > .sub-menu {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }
}

// Mobile menu reveal
#main-nav:not(:target) {
    opacity: 0;
    transform: translateX(100%);
    visibility: hidden;
}

#main-nav:target {
    opacity: 1;
    transform: translateX(-100%);
    visibility: visible;
}
