@import '~super-gigi/lib/main';

$grid-container: 1200px;
$grid-columns: 12;
$rem-base: 16px;

$breakpoints: (
  xxsmall: 375,
  xs: 480,
  sm: 640,
  md: 720,
  large: 1024,
  xl: 1280,
  xxl: 1440
);