@import '~super-gigi/lib/main';

$grid-container: 1200px;
$grid-columns: 12;
$rem-base: 16px;

$breakpoints: (
  xxs: 375px,
  xs: 480px,
  sm: 640px,
  md: 720px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px
);