// Body text
$font-family-body: 'Helvetica, Arial, sans-serif';
$font-size-body: 1rem;
$line-height-body: 1.2;

// Header text
$font-size-header: 5rem;
$line-height-header: 1.4;

// Font weights
$light: 300;
$normal: 500;
$semibold: 600;
$bold: 700;
$black: 900;